<div class="container">
  <h1>Seçili Üyeye Ait Cevap Listesi</h1>
  <h2>
    <p><b style="color: red;">Kullanıcı Adı : </b>{{secUye?.kuladi}}</p>
  </h2>
  <h2>
    <p><b style="color: red;">Cevapladiği Soru Sayısı : </b>{{secUye?.cevapladigisorusay}} </p>
  </h2>
  <h2>
    <p><b style="color: red;">Yetki : </b>{{secUye?.yetki}} </p>
  </h2>

  <button mat-fab color="primary" matTooltip="Üyelere Dön" [routerLink]="['/uye']">
    <mat-icon aria-label="label">arrow_back</mat-icon>
  </button>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="soru">
      <mat-header-cell *matHeaderCellDef> Soru
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.SoruBilgi.soru}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cevap">
      <mat-header-cell *matHeaderCellDef> Cevap
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.CevapBilgi.cevap}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="soruhazirlayan_adi">
      <mat-header-cell *matHeaderCellDef> Hazırlayan Adı </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.SoruBilgi.soruhazirlayan_adi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button color="warn" matTooltip="Cevabı Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>