<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">

    <mat-form-field appearance="outline">
      <mat-label>Kategori : </mat-label>
      <mat-select placeholder="Soru Seçiniz" formControlName="soru_id" name="soru_id" required
        (selectionChange)="SoruIdSec($event.value)">
        <mat-option [value]="soru.soru_id" *ngFor="let soru of sorular">
          {{soru.soru}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Soru : </mat-label>
      <input matInput placeholder="Cevap" formControlName="cevap" name="cevap" required type="text">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)"
    [disabled]="frm.invalid">Kaydet</button>&nbsp;
  <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>

</div>