<div class="container">
  <h1>Seçili Üyeye Ait Soru Listesi</h1>
  <h2>
    <p><b style="color: red;">Kullanıcı Adı : </b>{{secUye?.kuladi}}</p>
  </h2>
  <h2>
    <p><b style="color: red;">Sorduğu Soru Sayısı : </b>{{secUye?.sordugusorusay}} </p>
  </h2>
  <h2>
    <p><b style="color: red;">Yetki : </b>{{secUye?.yetki}} </p>
  </h2>
  <button mat-fab color="primary" matTooltip="Üyelere Dön" [routerLink]="['/uye']">
    <mat-icon aria-label="label">arrow_back</mat-icon>
  </button>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="soru">
      <mat-header-cell *matHeaderCellDef> Soru
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.soru}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="sorukat_adi">
      <mat-header-cell *matHeaderCellDef> Kategori Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.sorukat_adi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="verilencevapsay">
      <mat-header-cell *matHeaderCellDef> Verilen Cevap Sayısı </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.verilencevapsay}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button color="warn" matTooltip="Soruyu Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>