<div class="container">
  <h2>OTURUM AÇ</h2>
  <mat-form-field appearance="outline" style="width: 51%;">
    <mat-label>Kullanıcı Adı : </mat-label>
    <input matInput placeholder="Kullanıcı Adı" type="text" #kadi>
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 51%;">
    <mat-label>Parola : </mat-label>
    <input matInput placeholder="Parola" type="password" #parola>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" style="width: 51%;" (click)="OturumAc(kadi.value,parola.value)">Oturum
    Aç</button>
</div>