<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Uye Panel</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/uye-soru']">Sorular</a>
      <a mat-list-item [routerLink]="['/uye-cevap']">Cevaplar</a>
      <a mat-list-item [routerLink]="['/kategori']">Kategoriler (ortak)</a>
      <a mat-list-item [routerLink]="['/uye-hesap']">Hesabım (ortak)</a>
      <a mat-list-item [routerLink]="['/uye-kayit']">Kayıtlar</a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a [routerLink]="['/']" style="color: white;  text-decoration: none">Soru Cevap Portalı</a> </span>
      <span class="spacer"></span>


      <button mat-button [routerLink]="['/login']" *ngIf="!apiServis.oturumKontrol()">Oturum Aç</button>
      <button mat-button [routerLink]="['/uye']" *ngIf="apiServis.oturumKontrol()">{{kadi}} </button>
      <button mat-button [routerLink]="['/uye-hesap']" *ngIf="apiServis.oturumKontrol()">{{yetki}}</button>

      <button mat-button (click)="OturumKapat()" *ngIf="apiServis.oturumKontrol()">Oturumu Kapat</button>
      <button mat-button [matMenuTriggerFor]="menu" matTooltip="Admin Menü" *ngIf="apiServis.yetkiKontrol(['Admin'])">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/soru']">Sorular</button>
        <button mat-menu-item [routerLink]="['/cevap']">Cevaplar</button>
        <button mat-menu-item [routerLink]="['/kategori']">Kategoriler</button>
        <button mat-menu-item [routerLink]="['/uye']">Üyeler</button>
        <button mat-menu-item [routerLink]="['/kayit']">Kayıtlar</button>

      </mat-menu>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>