<div class="container">
  <h1>Cevap Detayları</h1>
  <h2>
    <p><b style="color: red;">Soru : </b>{{secCevap?.soru}}</p>
  </h2>
  <h2>
    <p><b style="color: red;">Yazarı : </b>{{secCevap?.sorucevaplayan_adi}} </p>
  </h2>
  <button mat-fab color="primary" matTooltip="Sorulara Dön" *ngIf="apiServis.yetkiKontrol(['Admin'])"
    [routerLink]="['/cevap']">
    <mat-icon aria-label="label">arrow_back</mat-icon>
  </button>
  <button mat-fab color="primary" matTooltip="Sorulara Dön" *ngIf="apiServis.yetkiKontrol(['Uye'])"
    [routerLink]="['/uye-cevap']">
    <mat-icon aria-label="label">arrow_back</mat-icon>
  </button>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="soru">
      <mat-header-cell *matHeaderCellDef> Kategori Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.SoruBilgi.soru}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cevap">
      <mat-header-cell *matHeaderCellDef> Cevap
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.CevapBilgi.cevap}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="sorucevaplayan_adi">
      <mat-header-cell *matHeaderCellDef> Cevaplayan Adı </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.CevapBilgi.sorucevaplayan_adi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button color="warn" matTooltip="Cevabı Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>